################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/C#Console/.vs
/C#Console/C#/bin/Debug/net8.0
/C#Console/C#/obj
/C#Console/C#/Program.cs
/Wpf/.vs/Wpf
/Wpf/Main/bin/Debug/net8.0-windows
/Wpf/Main/obj
